# AdsPower Local API Settings
ADSPOWER_API_URL=http://local.adspower.net:50325
ADSPOWER_GROUP_NAME=Inventory Etix (DO NOT TOUCH)
ADSPOWER_ACTIVE_PROFILES_COUNT=12

# Runtime Settings
ETIX_HEADLESS=false
ETIX_NAV_TIMEOUT=45000
ETIX_CLICK_TIMEOUT=20000
